$white: #FFF;
$black: #000;
$blue: #1698D9;
$yellow: #FF6;
$bg-gray: #F2F2F2;
$text-gray: #666666;
$accent-blue: #1698D9;
$hover-blue: #2EA8E6;
$selected-pink: #D91667;
$hover-pink: #E52E7A;
$disabled-grey: #B3B3B3;